<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="FooterFragment">
    <div id=" footer">
        <div class="inner">

            <div>
                <script th:inline="javascript">

                    /*<![CDATA[*/

                    // Footer에 현재 시간 표시
                    var footer = document.getElementById('footer');

                    //document.body.appendChild(footer);

                    function updateCurrentTime() {
                        var currentTime = new Date().toLocaleTimeString('ko-KR');
                        footer.innerHTML = `
                                                <div class="inner">
                                            <div class="footer-copyright">Copyrigh 2024 All ⓒ rights reserved</div>
                                            <p>${currentTime}</p>
                                            </div>`
                        ;
                    }

                    // 현재 시간 매초 업데이트
                    setInterval(updateCurrentTime, 1000);

                    /*]]>*/
                </script>
            </div>
        </div>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </div>
</div>
