<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="HeaderFragment" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<style>

    header {
        background-color: #ffffff;
        color: #AED284FF;
        text-align: center;
        width: 100%;
    }

    .headerNav {
        background-color: #AED284FF;
        padding: 3px;
    }

    .headerNav a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        margin-right: 10px;
        display: inline-block;
    }


</style>
</head>
<div>
    <nav class="headerNav">

        <a href="/"><img src="/img/home.png"></a>

        <a class="nav-link" sec:authorize="isAnonymous()" href="/user/login">로그인</a>

        <a class="nav-link" sec:authorize="isAuthenticated()" href="/user/logout">로그아웃</a>

        <a class="nav-link" sec:authorize="isAnonymous()" href="/user/new">회원가입</a>

       <!--<a class="nav-link" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" href="/admin/">관리자 페이지</a>-->

    </nav>

</div>
</html>