
<div xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
th:fragment="HeaderFragment">
    <nav class="headerNav">

        <a href="/"><img src="/img/home.png"></a>
        <a class="nav-link" sec:authorize="isAnonymous()" href="/user/login">로그인</a>
        <!-- 사용자가 로그인한 경우에만 환영 메시지 표시 -->
        <a class="label" sec:authorize="isAuthenticated()" th:text="'환영합니다, [' + ${#authentication.principal.username} + '] 님'"></a>



        <!--        &lt;!&ndash; 사용자가 로그인한 경우에만 환영 메시지 표시 &ndash;&gt;
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="#" th:text="'환영합니다, ' + ${#authentication.principal.nickName} + '님'"></a>-->

        <a class="nav-link" sec:authorize="isAuthenticated()" href="/user/logout">로그아웃</a>

        <a class="nav-link" sec:authorize="isAnonymous()" href="/user/new">회원가입</a>

        <a class="nav-link" sec:authorize="isAuthenticated()" href="/user/loginInfo">회원정보</a>

        <!--           th:href="@{'/loginInfo/' + ${userFormDto.userId}}">마이페이지</a>-->

        <a class="nav-link" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" href="/admin">관리자 페이지</a>

        <a class="nav-link" href="/visitCount">방문자 수 조회</a>

    </nav>

</div>