
<body>
    <div class="mb-3">

        <label for="board-attachfile">첨부파일 업로드</label>

        <div id="board-attachfile">

            <!--            게시판 등록              -->
            <div th:if="${attachFiles == null || #lists.isEmpty(extensions)|| maxUploadCnt == null || maxUploadCnt<=0}">
                <div class="form-group" th:each="num: ${#numbers.sequence(1,maxUploadCnt)}">
                    <div class="custom-file img-div">
                        <input type="file" class="custom-file-input form-control" name="attachFile">
                    </div>
                </div>

                <p
                   th:if="${#lists.isEmpty(extensions) || maxUploadCnt == null || maxUploadCnt<=0}"
                   th:style="'color: red'"
                >파일 업로드가 제한되어 있습니다.
                </p>

                <p th:unless="${#lists.isEmpty(extensions)|| maxUploadCnt == null || maxUploadCnt<=0}" th:style="'color: red'">
                    <th:block th:each="extension : ${extensions}">
                        <span th:text="${extension.extension}" th:if="${!#strings.isEmpty(extension.extension)}"></span>
                        <span th:unless="${extension == extensions[extensions.size() - 1]}">, </span>
                    </th:block>
                    파일들만 등록 가능합니다.
                </p>
                <p th:text="${errorMessage}" th:style="'color: red'"></p>
            </div>

            <!--            게시판 수정              -->
            <div th:if="${attachFiles != null}">

                <div id="add-attachfile">
                    <div  th:if="${#lists.size(attachFiles) < maxUploadCnt}">
                        <div class="form-group" th:each="num: ${#numbers.sequence(1,maxUploadCnt - #lists.size(attachFiles))}">
                            <div class="custom-file img-div">
                                <input type="file" class="custom-file-input form-control" name="attachFile">
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${#lists.size(attachFiles) >= maxUploadCnt}">
                    <input type="file" class="custom-file-input" name="attachFile" style="display:none;">
                </div>

                <p id="uploadRestrictionMessage" th:if="${#lists.isEmpty(extensions)|| maxUploadCnt == null || maxUploadCnt<=0 || maxUploadCnt <= #lists.size(attachFiles)}" th:style="'color: red'">
                    파일 업로드가 제한되어 있습니다.
                </p>
                <p th:unless="${#lists.isEmpty(extensions)|| maxUploadCnt == null || maxUploadCnt<=0 || maxUploadCnt <= #lists.size(attachFiles)}" th:style="'color: red'">
                    <th:block th:each="extension : ${extensions}">
                        <span th:text="${extension.extension}" th:if="${!#strings.isEmpty(extension.extension)}"></span>
                        <span th:unless="${extension == extensions[extensions.size() - 1]}">, </span>
                    </th:block>
                    파일들만 등록 가능합니다.
                </p>
                <p th:text="${errorMessage}" th:style="'color: red'"></p>
            </div>

        </div>


    </div>

</body>
</html>