
<body>
    <div class="mb-3">

        <label for="board-attachfile">첨부파일</label>

        <div id="board-attachfile">
            <div th:if="${#lists.isEmpty(attachFileFormDto.attachFileDtoList)}">
                <div class="form-group" th:each="num: ${#numbers.sequence(1,5)}">
                    <div class="custom-file img-div">
                        <input type="file" class="custom-file-input" name="attachFile">
                        <label class="custom-file-label" th:text="첨부파일 + ${num}"></label>
                    </div>
                </div>
            </div>

            <p th:style="'color: red'">
                <th:block th:each="extension : ${extensions}">
                    <span th:text="${extension.extension}" th:if="${!#strings.isEmpty(extension.extension)}"></span>
                    <span th:unless="${extension == extensions[extensions.size() - 1]}">, </span>
                </th:block>
                파일들만 등록 됩니다.
            </p>


            <div th:if = "${not #lists.isEmpty(attachFileFormDto.attachFileDtoList)}">
                <div class="form-group" th:each="attachFileDto, status: ${attachFileFormDto.attachFileDtoList}">
                    <div class="custom-file img-div">
                        <input type="file" class="custom-file-input" name="attachFile">
                        <input type="hidden" name="attachFileIds" th:value="${attachFileDto.id}">
                        <label class="custom-file-label" th:text="${not #strings.isEmpty(attachFileDto.ori_fileName)} ? ${attachFileDto.ori_fileName} : '첨부파일' + ${status.index+1}"></label>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>
</html>