
    <style>
        /* 숨겨진 요소 */
        .hidden {
            display: none;
        }

        /* 파일명 CSS */
        .file-info .full-name {
            display: none; /* 기본적으로 숨겨진 상태 */
            position: absolute;
            bottom: -30px; /* 하단에 위치하도록 설정 */
            left: 0;
            background-color: white;
            opacity: 1; /* 배경 투명도 설정 */
            border: 1px solid #ccc;
            padding: 5px;
            z-index: 1; /* 다른 요소 위에 표시되도록 설정 */
        }

        .file-info:hover .full-name {
            display: block; /* 호버 시에 보이도록 변경 */
        }

        /* 첨부파일 CSS */
        .file-info {
            display: flex;
            align-items: center;
        }

        .file-info span {
            flex: 1; /* 텍스트가 남은 공간을 모두 차지하도록 설정 */
            white-space: nowrap; /* 텍스트가 넘치는 경우 줄 바꿈을 방지합니다. */
            overflow: hidden; /* 넘치는 텍스트를 숨깁니다. */
            text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시합니다. */
            margin-right: 5px; /* 파일명과 버튼 사이의 간격을 조절합니다. */
        }

        .file-info button {
            margin-right: 5px; /* 버튼 사이의 간격을 조절합니다. */
            padding: 1px;
        }


        .attachBtn {
            font-size: smaller;
            text-decoration: underline;
        }

        .card-header {
            background-color: white;
        }
    </style>


<body>
<div class="card col-md-6 mb-1">
    <div class="card-header">
        <a class="btn btn-primary"><strong class="card-title" id="attachTitle">첨부 파일</strong></a>
    </div>

    <!--            게시판 수정              -->
    <div th:if="${attachFiles != null}">

        <div id="uploadSettings"
             th:data-max-upload-cnt="${maxUploadCnt}"
             th:data-current-file-count="${#lists.size(attachFiles)}"
             th:data-upload-file-extensions="${extensions}"
             hidden>
        </div>

    </div>

    <ul class="hidden" id="attachList">
        <li class="list-group-item" th:each="attachFile : ${attachFiles}">
            <div th:if="${createOrModify != 'modify'}" class="file-info">
                <span class="file-name" th:text="${attachFile.ori_fileName}"></span>
                <button type="button" class="btn downloadBtn attachBtn"
                        th:data-board-id="${attachFile.boardId.id}" th:data-file-id="${attachFile.id}">다운로드</button>
                <button type="button" class="btn previewBtn attachBtn"
                        th:data-board-id="${attachFile.boardId.id}" th:data-file-id="${attachFile.id}">미리보기</button>
            </div>
            <div th:if="${createOrModify == 'modify'}" class="file-info">
                <span class="file-name" th:text="${attachFile.ori_fileName}"></span>
                <button type="button" class="btn deleteBtn attachBtn"
                        th:data-board-id="${attachFile.boardId.id}" th:data-file-id="${attachFile.id}">파일삭제</button>
            </div>
        </li>
    </ul>
</div>

<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewModalLabel">파일 미리보기</h5>
            </div>
            <div class="modal-body">
                <iframe id="previewFrame" width="100%" height="600"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeBtn" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

</body>


<script>

    // 첨부파일 제목 클릭 이벤트 정의(show/hide)
    document.getElementById("attachTitle").addEventListener("click", function() {
        var ul = document.getElementById("attachList");
        if (ul.classList.contains("hidden")) {
            ul.classList.remove("hidden");
        } else {
            ul.classList.add("hidden");
        }
    });

    // 첨부파일 파일명 호버 이벤트 정의
    document.addEventListener('DOMContentLoaded', function () {
        const filenames = document.querySelectorAll('.file-name');

        filenames.forEach(function(filename) {
            const fullName = document.createElement('span');
            fullName.classList.add('full-name');
            fullName.textContent = filename.textContent;
            filename.appendChild(fullName);

            // 파일명에 호버할 때 풀네임을 보이도록 설정
            filename.addEventListener('mouseover', function () {
                fullName.style.display = 'inline'; // 호버 시 풀네임 표시
            });

            filename.addEventListener('mouseout', function () {
                fullName.style.display = 'none'; // 호버 해제 시 풀네임 숨김
            });
        });
    });


    // 미리보기 클릭 이벤트 정의
    // 미리보기 버튼 클릭 시 모달 창 열기
    document.addEventListener('DOMContentLoaded', function() {
        const previewButton = document.querySelectorAll('.previewBtn');
        previewButton.forEach(button => {
            button.addEventListener('click', function() {
                const fileId = this.dataset.fileId;
                const boardId = this.dataset.boardId;
                loadFilePreview(fileId, boardId);
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        const closeButton = document.querySelectorAll('.closeBtn');
        closeButton.forEach(button => {
            button.addEventListener('click', function() {
                const previewModal = bootstrap.Modal.getInstance(document.getElementById('previewModal'));
                previewModal.hide();
            });
        });
    });

    var deleteRequestDTOList = [];

    $('.deleteBtn').click(function () {
        // 수정 시 삭제할 파일 저장 하는 필드 및 메소드
        var fileUploadSettings = document.getElementById('uploadSettings');
        var maxUploadCnt = parseInt(fileUploadSettings.getAttribute('data-max-upload-cnt'));
        var currentFileCount = parseInt(fileUploadSettings.getAttribute('data-current-file-count'));
        var uploadFileExtensions = fileUploadSettings.getAttribute('data-upload-file-extensions').split(',');
        var boardId = $(this).data('board-id');
        var fileId = $(this).data('file-id');

        var extensions = []; // 확장자를 저장할 배열

        // 주어진 문자열 배열을 반복하여 확장자를 추출하여 extensions 배열에 추가
        uploadFileExtensions.forEach(function(item) {
            var extensionStartIndex = item.indexOf('extension=');
            if (extensionStartIndex !== -1) { // 'extension='이 존재하는 경우에만 확장자 추출
                var startIndex = extensionStartIndex + 'extension='.length;
                var endIndex = item.indexOf(')', startIndex);
                var extension = item.substring(startIndex, endIndex);
                extensions.push(extension);
            }
        });

        if (confirm('첨부파일 목록에서 지우시겠습니까?')) {
            // 삭제할 파일 정보를 DTO에 추가
            deleteRequestDTOList.push({
                bno: boardId,
                fno: fileId
            });

            console.log(deleteRequestDTOList)

            // 파일을 화면에서 숨기거나 제거하는 등의 작업을 수행할 수 있음
            var fileElement = $(this).closest('.file-info').parent(); // 해당 파일 요소의 부모 요소
            if (fileElement) {
                fileElement.hide(); // 파일 숨기기
                currentFileCount--;
            }

            // 업로드 설정 업데이트
            fileUploadSettings.setAttribute('data-current-file-count', currentFileCount);

            // 파일 삭제 후 업로드란 추가
            if (currentFileCount < maxUploadCnt) {
                addUploadInput();
            }

            // 파일 업로드 제한 상태에 따라 안내 문구 변경
            var uploadRestrictionMessage = $('#uploadRestrictionMessage');

            if (currentFileCount >= maxUploadCnt || !uploadFileExtensions) {
                // 파일 업로드가 제한되어 있는 경우에 대한 처리
                uploadRestrictionMessage.text('파일 업로드가 제한되어 있습니다.');
                uploadRestrictionMessage.css('color', 'red');
            } else {
                // 파일 업로드가 제한되어 있지 않은 경우에 대한 처리
                var allowedExtensions = extensions.join(', '); // 확장자들을 쉼표로 구분하여 문자열로 변환
                uploadRestrictionMessage.text(allowedExtensions + ' 파일들만 등록 가능합니다.');
                uploadRestrictionMessage.css('color', 'red');
            }
        }
    });

    function addUploadInput() {
        var newUploadInput = `
        <div class="form-group">
            <div class="custom-file img-div">
                <input type="file" class="custom-file-input" name="attachFile">
            </div>
        </div>
    `;
        $('#add-attachfile').append(newUploadInput);
    }

    // 모달 창에 파일 미리보기 로드
    function loadFilePreview(fileId, boardId) {
        const fileUrl = `/preview/${boardId}/${fileId}`; // 서버에서 파일을 가져오는 엔드포인트 URL
        fetch(fileUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error('파일을 가져오는 중 오류 발생');
                }
                return response.blob(); // 파일 내용을 blob 형태로 가져오기
            })
            .then(blob => {
                const url = URL.createObjectURL(blob);
                const iframe = document.getElementById('previewFrame');
                iframe.src = url; // iframe에 파일 내용 로드

                // 모달 창 열기 (Bootstrap 5에서 jQuery 없이)
                const previewModal = new bootstrap.Modal(document.getElementById('previewModal'));
                previewModal.show();
            })
            .catch(error => {
                console.error('파일 미리보기를 가져오는 중 오류 발생:', error);
            });
    }
</script>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const downloadButtons = document.querySelectorAll('.downloadBtn');

        downloadButtons.forEach(function(downloadButton) {
            downloadButton.addEventListener('click', function () {
                const boardId = downloadButton.getAttribute('data-board-id');
                const fileId = downloadButton.getAttribute('data-file-id');
                const url = `/getAttach/${boardId}/download/${fileId}`;

                // 새 창이나 탭에서 URL 열기
                window.location.href = url;
            });
        });
    });
</script>
