<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>

    <!-- 사용자 CSS 추가 -->
    <style>
        .fieldError {
            color: #bd2130;
        }

    </style>

</head>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            console.log(errorMessage);
            if(errorMessage){
                alert(errorMessage);
            }
        });
    </script>
</th:block>
<body>
<div layout:fragment="Content">
    <form action="/user/new" role="form" method="post" th:object="${userFormDto}">
        <div class="form-group">
            <label>아이디
                <input type="text" th:field="*{userId}" class="form-control" placeholder="아이디를 입력해주세요">
            </label>

            <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="fieldError">잘못된 데이터입니다.</p>
        </div>
        <div class="form-group">
            <label>비밀번호
                <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호 입력">
            </label>

            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">잘못된 데이터입니다.</p>
        </div>
        <div class="form-group">
            <label>비밀번호 확인
                <input type="password" th:field="*{checkPassword}" class="form-control" placeholder="비밀번호 확인">
            </label>

            <p th:if="${#fields.hasErrors('checkPassword')}" th:errors="*{checkPassword}" class="fieldError">일치하지 않습니다.</p>
        </div>
        <div class="form-group">
            <label>이메일
                <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력해주세요">
            </label>

            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">잘못된 데이터입니다.</p>
        </div>
        <div class="form-group">
            <label>닉네임
                <input type="text" th:field="*{nickName}" class="form-control" placeholder="닉네임을 입력해주세요">
            </label>

            <p th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}" class="fieldError">잘못된 데이터입니다.</p>
        </div>
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary">가입하기</button>
        </div>
    </form>
</div>

</body>
</html>