<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그 글</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
            <!-- 댓글 섹션 시작 -->
            <section id="comments-section" th:style="'margin-top: 20px;'">
                <div id="comments-container">
                    <!-- 댓글 목록이 여기에 동적으로 추가될 것입니다. -->
                    <table class="table">
                        <thead>
                        <tr><th>Comments</th></tr>
                        </thead>
                        <tbody>
<!--                         각 댓글을 표 형식으로 표시 -->
<!--                        <tr th:each="item : ${comments}">-->
<!--                            <td th:text="${item.comment}"></td> &lt;!&ndash; 댓글 내용 &ndash;&gt;-->
<!--                            <td th:text="${item.nickname}"></td> &lt;!&ndash; 댓글 작성자 &ndash;&gt;-->
<!--                            <td th:text="${#temporals.format(item.modifiedAt, 'yyyy-MM-dd HH:mm')}"></td> &lt;!&ndash; 댓글 작성자 &ndash;&gt;-->
<!--                        </tr>-->
                        </tbody>
                    </table>
                </div>
                <!-- 댓글 작성 폼 -->
                <form id="comment-form">
                    <div class="form-group">
                        <label for="comment">댓글 추가:</label>
                        <textarea class="form-control" id="comment" rows="3"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" id="create-comment-btn">댓글 작성</button>
                </form>
            </section>
            <!-- 댓글 섹션 끝 -->
        </div>
    </div>
</div>
</body>
</html>