<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <link rel="stylesheet" href="/css/Likes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>

        window.onload = () => {
            const like = document.querySelector('.fa');
            let counting = 0;
            document.getElementById('btn-like');

            // 게시물 조회시 좋아요 버튼 상태 표시
            viewLike();

            function viewLike() {
                var check = "check";
                fetch(`http://localhost:8080/api/likes`, {
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body:
                        JSON.stringify({
                            boardId: document.getElementById("board-id").value,
                            check: check
                        })
                    ,
                    method: 'POST',
                })
                    .then(response => response.json())
                    .then(data => {
                        getCountingLike();
                        var image = document.getElementById("like-img");

                        if (!data) {
                            image.src = "/img/poketball2.png";
                        } else {
                            image.src = "/img/loveball.png";
                        }
                    });
            }

            // 좋아요 클릭 이벤트
            like.addEventListener("click", (e) => {
                var check = "getlike";
                fetch(`http://localhost:8080/api/likes`, {
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body:
                        JSON.stringify({
                            boardId: document.getElementById("board-id").value,
                            check: check
                        })
                    ,
                    method: 'POST',
                })
                    .then(response => response.json())
                    .then(data => {
                        var image = document.getElementById("like-img");
                        console.log(image);
                        console.log(data);

                        if (data) {
                            image.src = "/img/poketball2.png";
                        } else {
                            image.src = "/img/loveball.png";
                        }

                        var countLike = document.getElementById("likeCount");
                        getCountingLike();
                        var countValue = counting;
                    });

                // e.target.classList.toggle("fa-thumbs-down");
            });


            // 좋아요 수 조회
            function getCountingLike() {
                var check = "check";
                fetch(`http://localhost:8080/api/likes/getCounting`, {
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body:
                        JSON.stringify({
                            boardId: document.getElementById("board-id").value,
                            check: check
                        })
                    ,
                    method: 'POST',
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        var countLike = document.getElementById("likeCount");
                        countLike.innerHTML = (`<p>좋아요수: ${data}</p>`);
                    });
            }


        };

        <!-- 좋아요 수 렌더링 -->

    </script>
    <style>
        body {
            min-height: 100vh;
        }

        .input-form {
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 32px;
        }

        .title-input {
            width: 1000px;
        }

        .content-textarea {
            width: 1000px;
            height: 400px; /* 내용 칸의 높이를 늘림 */
        }

        .err {
            color: #0b5ed7;
        }


        #btn-like {
            background: none;
            border: none;
        }

        #likeCount {
            text-align: center;
            margin-top: 10px;
        }

        .button-group {
            display: flex;
            justify-content: center;
            gap: 10px;
            width: 100%;
        }

        /*.like-section {*/
        /*    margin-top: 30px; !* 내용 칸 아래로 간격을 늘림 *!*/
        /*}*/

    </style>

</head>
<body>

<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <input type="hidden" id="board-id" th:value="${board.id}">

            <h4 class="mb-3">게시물 조회</h4>
            <p th:text="'조회수: '+${board.getViewCount()}">조회수</p>

            <!-- 제목 입력 -->
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="title">제목</label>
                    <input type="text" class="form-control title-input" id="title" name="title"
                           th:value="${board.title}" readonly>
                </div>
            </div>

            <!-- 내용 입력 -->
            <div class="mb-3">
                <label for="content">내용</label>
                <!-- 첨부 파일 -->
                <div th:replace="~{/attachFile/boardAttachFile.html}"></div>
                <div th:with="createOrModify=${createOrModify}" th:remove="tag">
                <!-- 첨부 파일 끝-->
                <textarea class="form-control content-textarea" id="content" name="content"
                          placeholder="프로젝트 내용을 입력해주세요" th:text="${board.content}" readonly></textarea>
            </div>

            <!-- 좋아요 버튼과 수 -->
            <div class="like-section">
                <button id='btn-like'>
                    <img id='like-img' src="/img/poketball2.png" class="fa fa-thumbs-up" alt="좋아요"
                         style="width: 100px; height: 100px;">
                </button>
                <!-- 좋아요 수 렌더링 -->
                <div id="likeCount"></div>
            </div>

            <hr class="mb-4">

            <h5 class="mb-3">해시태그</h5>
            <ul style="list-style:none; padding: 0; display: flex; flex-wrap: wrap; justify-content: center;">
                <li th:each="hash:${hashTag}" th:text="'#'+${hash.getHashTagContent()}" style="margin: 0 10px;"></li>
            </ul>

            <div class="button-group">
                <form class="validation-form" method="post" th:action="@{/modifyBoard(id=${board.id})}">
                    <button class="btn btn-primary" type="submit">수정</button>
                </form>
                <form class="validation-form" method="post" th:action="@{/deleteBoard(id=${board.id})}">
                    <button class="btn btn-danger btn btn-block" type="submit">삭제</button>
                </form>
            </div>

        </div>
        <!-- 댓글출현 -->
        <div class="reply-section">
            <div th:replace="~{/ReplyView.html}"></div>
        </div>
    </div>
</div>

</body>
</html>
