<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<section class="notice">
    <div class="page-title">
        <div class="container">
            <h3>게시판</h3>
        </div>
    </div>

    <!-- board seach area -->
    <form th:action="@{/}" method="get">
        <div id="board-search">
            <div class="container">
                <div class="search-window">
                        <div class="search-wrap">
                            <label for="searchvalue" class="blind">공지사항 내용 검색</label>
                            <div>
                                <select name ="searchtype">
                                    <option value="title" th:selected="${searchtype} == 'title'">제목으로 검색</option>
                                    <option value="content" th:selected="${searchtype} == 'content'">본문으로 검색</option>
                                    <option value="userid" th:selected="${searchtype} == 'userid'">작성자로 검색</option>
                                    <option value="hashTag" th:selected="${searchtype} == 'hashTag'">해시태그로 검색</option>
                                </select>
                            </div>
                            <input id="searchvalue" name="searchvalue" type="search" placeholder="검색어를 입력해주세요." th:value="${searchvalue}">
                            <button type="submit" class="btn btn-dark">검색</button>
                        </div>
                </div>
            </div>
        </div>
    </form>


    <!-- board list area -->
    <div id="board-list" >
        <div class="container">
            <form th:action="@{/}" method="get">
            <div>
                <select name ="sort" onchange="this.form.submit()" >
                    <option value="title" th:selected="${sort} == 'title'">제목</option>
                    <option value="createdAt" th:selected="${sort} == 'createdAt'">작성일</option>
                    <option value="userid" th:selected="${sort} == 'userid'">작성자</option>
                </select>
            </div>
            </form>
            <table class="board-table">
                <thead>
                <tr>
                    <th scope="col" class="th-num" >번호</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-author" >작성자</th>
                    <th scope="col" class="th-viewCount" >조회수</th>
                    <th scope="col" class="th-date" >등록일</th>
                </tr>
                </thead>
                <tbody>
                <!--게시물 목록 생성-->
                <tr th:if="${boards == null}"><td></td><td>등록된 게시물이 없습니다.</td><td></td></tr>
                <tr th:each="board : ${boards}" >
                    <td th:text="${board.id}" >게시물 번호</td>
                    <td><a th:href="@{/BoardDetailView(id=${board.id})}" th:text="*{board.title}">환영합니다. 자유롭게 글을 작성해주세요</a></td>
                    <td th:text="${board.userid.userId}" >작성자</td>
                    <td th:text="${board.viewCount}" >조회수</td>
                    <td th:text="*{board.createdAt}">등록일</td>
                </tr>
                </tbody>
            </table>
            <!--페이징 처리 부분 -->
            <div class="d-flex justify-content-center" th:if="${startPage != null && endPage != null && nowPage != null}" >

                <ul class="pagination">

                <!--이전 버튼-->
                <li class="page-item"><a class="page-link" th:if="${nowPage > 1}" th:href="@{/(page=${nowPage - 2},title=${param.title},sort=${param.sort},searchtype=${param.searchtype},searchvalue=${param.searchvalue})}">이전</a></li>

                <li class="page-item" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" th:if="${page != nowPage}" th:href="@{/(page = ${page - 1},title=${param.title},sort=${param.sort},searchtype=${param.searchtype},searchvalue=${param.searchvalue})}" th:text="${page}"></a>
                    <a class="page-link"  th:if="${page == nowPage}" th:text="${page}" style="color: red "></a>
                </li>

                <!--다음 버튼-->
                <li class="page-item"><a  class="page-link"th:if="${nowPage != endPage && endPage > 1} " th:href="@{/(page=${nowPage},title=${param.title},sort=${param.sort},searchtype=${param.searchtype},searchvalue=${param.searchvalue})}">다음</a></li>
                </ul>
            </div>
                 <button sec:authorize="isAuthenticated()" class="btn btn-dark" onclick="location.href='/createBoard'">등록</button>
        </div>
    </div>

</section>

</body>
</html>