<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<section class="notice">
    <div class="page-title">
        <div class="container">
            <h3>게시판</h3>
        </div>
    </div>

    <!-- board seach area -->
    <form th:action="@{/}" method="get">
        <div id="board-search">
            <div class="container">
                <div class="search-window">
                    <form action="">
                        <div class="search-wrap">
                            <label for="title" class="blind">공지사항 내용 검색</label>
                            <input id="title" name="title" type="search" placeholder="검색어를 입력해주세요." value="">
                            <button type="submit" class="btn btn-dark">검색</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>

    <!-- board list area -->
    <div id="board-list" >
        <div class="container">
            <table class="board-table">
                <thead>
                <tr>
                    <th scope="col" class="th-num" >번호</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-date" >등록일</th>
                </tr>
                </thead>
                <tbody>
                <!--게시물 목록 생성-->
                <tr th:each="board : ${boards}">
                    <td th:text="${board.id}" >1</td>
                    <td><a th:href="@{/BoardDetailView/${board.id}}" th:text="*{board.title}">환영합니다. 자유롭게 글을 작성해주세요</a></td>
                    <td th:text="*{board.createdAt}"></td>
                </tr>
                </tbody>
            </table>
            <!--페이징 처리 부분 -->
            <div class="d-flex justify-content-center" th:if="${startPage != null && endPage != null && nowPage != null}" >
                <li class="btn btn btn-primary" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" th:if="${page != nowPage}" th:href="@{/(page = ${page - 1},title=${param.title})}" th:text="${page}"></a>
                    <strong  th:if="${page == nowPage}" th:text="${page}" style="color: red "></strong>
                </li>

            </div>
        </div>
    </div>


</section>

</body>
</html>