<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/columnGraph.js"></script>
    <!-- ToastUI Chart -->
    <!--    https://congsong.tistory.com/68  설명 블로그 -->
    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
    <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
</head>
<body>
    <!-- Chart Count   -->
    <div id="chart" style="margin-left: 10px; margin-top: 20px" ></div>
    <!-- Chart Count  END   -->
</body>
</html>
