<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>방문자 수 조회</title>

    <!-- chart.js 설치 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<!-- 차트 크기는 부모 크기를 조절하면 거기에 맞게 자동으로 맹글어짐-->
<div style="width:90vw;height:200vh;border:none">
    <!-- 차트 그릴 위치 지정 canvas webGL(그래픽엔진) 사용 -->
    <canvas id="myChart"></canvas>
</div>
<script>
    const ctx = document.querySelector('#myChart');

    //만들위치, 설정값객체
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['05/22', '05/23', '05/24', '05/25', '05/26', '05/27', '05/28'],
            datasets: [
                {
                    label: '방문자 수 조회',
                    data: [10, 19, 13, 15, 12, 13, 9],
                    borderWidth: 1,
                },
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</body>

</html>
