<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content" >
<head>
    <meta charset="UTF-8">
    <title>방문자 수 조회</title>

    <!-- chart.js 설치 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</head>

<body>

<ul id="visitCountList"></ul>

<!-- 차트 크기는 부모 크기를 조절하면 거기에 맞게 자동으로 맹글어짐 -->
<div style="width:90vw;height:200vh;border:none">
    <!-- 차트 그릴 위치 지정 canvas webGL(그래픽엔진) 사용 -->
    <canvas id="myChart"></canvas>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/visitCountData')
            .then(response => response.json())
            .then(data => {
                const visitCountList = document.getElementById('visitCountList');
                const dates = [];
                const counts = [];

                data.forEach(item => {
                    // Date 객체 생성
                    const date = new Date(item.visitDate);
                    // Date 객체를 문자열로 변환 (원하는 형식으로)
                    const dateString = `${date.getMonth() + 1}/${date.getDate()}`;
                    dates.push(dateString);
                    counts.push(item.count);
                    // 리스트 아이템 생성 및 추가
                    const listItem = document.createElement('li');
                    /*listItem.textContent = `Date: ${dateString}, Count: ${item.count}`;
                    visitCountList.appendChild(listItem);*/
                });

                // 데이터 제한 (최대 일수만큼)
                const maxDays = 7;
                const limitedDates = dates.slice(0, maxDays);
                const limitedCounts = counts.slice(0, maxDays);

                // 최대 방문자 수 계산 및 10단위로 올림
                const maxVisits = Math.ceil(Math.max(...limitedCounts) / 10) * 10;

                // 차트 데이터 설정
                const ctx = document.querySelector('#myChart');
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: limitedDates,
                        datasets: [
                            {
                                label: '방문자 수 조회',
                                data: limitedCounts,
                                borderWidth: 1,
                                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                                borderColor: 'rgba(255, 206, 86, 1)',
                                datalabels: {
                                    align: 'end',
                                    anchor: 'end',
                                }
                            },
                        ]
                    },
                    options: {
                        plugins: {
                            datalabels: {
                                anchor: 'end',
                                align: 'end',
                                formatter: (value) => value,
                                font: {
                                    size: 24, // 데이터 레이블 폰트 크기
                                    weight: 'bold'
                                }
                            }
                        },
                        scales: {
                            y: {
                                beginAtZero: true,
                                max: maxVisits, // y축 최대값 설정
                                ticks: { // y축 줄당 표시 값
                                    stepSize: 1,
                                    font: {
                                        size: 20 // y축 폰트 크기
                                    }
                                },
                                title: {
                                    display: true,
                                    font: {
                                        size: 20 // y축 제목 폰트 크기
                                    }
                                }
                            },
                            x: {
                                ticks: {
                                    font: {
                                        size: 20 // x축 폰트 크기
                                    }
                                },
                                title: {
                                    display: true,
                                    font: {
                                        size: 20 // x축 제목 폰트 크기
                                    }
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 20 // 범례 폰트 크기
                                    }
                                }
                            }
                        }
                    },
                    plugins: [ChartDataLabels]
                });
            })
            .catch(error => console.error('Error fetching data:', error));
    });
</script>
</body>

</html>
